/ClickonGame
/chorme.exeEnd
 end
       end
       end
/Text:/Setup Wait...
/TextNext/Setup Wait..
/Text:Next/Setup Wait.
/Text:Next/Setup Wait
/nextandnextForever/:wait24444445/forever/
C:/
Setup Download







:texterror:/Game Dont do download.



End?
               End
  is not dont do delete.
